config/api_configs.json
config/model_config.yaml
modules/models/
models/
logs/
db/data
db/data_qwen2.5_7b_4bit
db/data_origin
db/.ipynb_checkpoints
__pycache__/
*.pyc
.DS_Store
generation.py
config/prompts/script_generation.md
db/explore_chroma.ipynb
web/static/thumbnails/
.vsco